.body-color{
    background-color: #E76F51;
}
.container{
   
        background-color: #F4A261;
        height: 1700px;
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    
}
.contact-img{
    height: 400px;
}
.contact-info{
   
    margin-top: 40px;
    text-align: center;
    color:  white;
}
.contact-flex{
    color:  #264653;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 250px;
   
}
.form-setup{
    display: flex;
    justify-content: space-between;
}
.contact-flex p{
    color: white;
    text-align: center;
    padding-top: 10px;
}
.contact-flex h3{
    padding-left: 20px;
}
.contact-form{
    
    padding-left: 100px;
    display: block;
    margin: auto;
}
.form-group{
    width: 400px;
}
#exampleFormControlTextarea1{
    height: 200px;
}
.map{
    padding-left: 150px;
}